table{
  border: 1px solid black;
  border-collapse: collapse;
}

table td{
  border: 1px solid black;
  padding: 20px;
}

table tr:hover{
  background-color: aqua;
}

table td:hover{
  background-color: green;
  color: orange;
}