h1{
    background: yellow;

}
a{
    background: violet;
}

div{
    background: rgb(82, 231, 107);
    margin-top: 20px;
    margin-left: 20px;
    border: 10px solid red;
    padding-left: 20px;
    padding-top: 25px;
    width: 50%;
   /*  height: 150px; */
   


}





